@page
@model MyNUnitWeb.Pages.UploadAssemblyModel
@{
    ViewData["Title"] = "Upload assembly";
}

<h2>Upload assemblies</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form-label" for="files">Select files to upload:</label>
        <input type="file" name="files" id="files" multiple class="form-control" accept=".dll" />
    </div>
    <div id="error-message" class="alert alert-danger mt-3" style="visibility: @(ViewData["ErrorMessage"] != null ? "visible" : "hidden")">
        @if (ViewData["ErrorMessage"] != null)
        {
            @ViewData["ErrorMessage"]
        }
    </div>
    <button type="submit" class="btn btn-primary" onclick="return VerifyUploadSize('files', @UploadAssemblyModel.MaxUploadSize)">Start tests</button>
</form>

<script src="~/js/VerifyUploadSize.js"></script>